.dark-theme {
  color: $whiteColor;
  background-color: $lightBlack;
  transition: 0.5s;

  .main-header__button {
    &--resume {
      color: $whiteColor;
      border: 1px solid $whiteColor;

      &:hover {
        color: $blackColor;
        background-color: $whiteColor;
      }
    }
  }

  .main-nav {
    background-color: $lightBlack;
  }

  .main-nav__button {
    background-color: $greyColor5;
  }

  .main-nav__nav-list {
    background-color: $lightBlack;
  }

  .main-nav__nav-link {
    color: $whiteColor;
    border: 1px solid $whiteColor;

    &:hover {
      color: $blackColor;
      background-color: $whiteColor;

      .main-nav__icon {
        fill: $blackColor;
      }
    }
  }

  .main-nav__icon {
    fill: $whiteColor;

    &:hover {
      fill: $blackColor;
    }
  }

  .main-nav__nav-span {
    background-color: $whiteColor;
  }

  .skills__title {
    border-bottom: 1px solid $whiteColor;

    svg {
      fill: $whiteColor;
    }
  }

  .skills__subtitle {
    border-bottom: 1px solid $whiteColor;
  }

  .skills__icon {
    fill: $whiteColor;
  }

  .portfolio__title {
    border-bottom: 1px solid $whiteColor;

    svg {
      fill: $whiteColor;
    }
  }

  .portfolio__subtitle {
    border-bottom: 1px solid $whiteColor;

    svg {
      fill: $whiteColor;
    }
  }

  .portfolio__project-info {
    border: 1px solid $whiteColor;
  }

  .portfolio__pagination {
    background-color: $greyColor5;

    span {
      background-color: $whiteColor;
    }
  }

  .swiper-pagination {
    background-color: $greyColor5;
  }

  .portfolio__item {
    border: 1px solid $whiteColor;
  }

  .main-footer__title {
    border-bottom: 1px solid $whiteColor;

    svg {
      fill: $whiteColor;
    }
  }

  .main-footer__contact-icon {
    fill: $whiteColor;
  }

  .main-footer__button-up {
    background-color: $greyColor5;

    svg {
      fill: $whiteColor;
    }
  }

  @media (min-width: $tablet) {
    .main-nav__nav-list {
      background-color: inherit;
    }

    .main-nav__button {
      &--theme {
        background-color: transparent;
        border: 1px solid $whiteColor;
      }
    }
  }

  @media (min-width: $desktop) {
    .portfolio__project-info {
      background-color: $greyColor4;
    }

    .portfolio__button {
      background-color: $greyColor5;

      svg {
        fill: $whiteColor;
      }
    }
  }
}
