.dark-theme {
  color: $whiteColor;
  background-color: $greyColor4;
  transition: 0.5s;

  .main-header__button {
    &--resume {
      &:hover {
        color: $whiteColor;
        border: 1px solid $whiteColor;
      }
    }
  }

  .main-nav {
    background-color: $greyColor4;
  }

  .main-nav__button {
    background-color: $greyColor5;
  }

  .main-nav__nav-list {
    background-color: $greyColor4;

    a {
      color: $greyColor2;

      &:hover,
      &:focus {
        color: $whiteColor;

        &::before,
        &::after {
          background-color: $whiteColor;
        }
      }
    }
  }

  .main-nav__nav-span {
    background-color: $whiteColor;
  }

  .portfolio__project-info {
    background-color: $greyColor5;
  }

  .portfolio__project-link {
    color: $whiteColor;
  }

  .portfolio__pagination {
    background-color: $greyColor5;

    span {
      background-color: $whiteColor;
    }
  }

  .portfolio__other-item {
    border: 1px solid $whiteColor;
  }

  .main-footer__contact-item {
    background-color: $greyColor5;
  }

  .main-footer__contact-icon {
    fill: $whiteColor;
  }

  .main-footer__button-up {
    background-color: $greyColor5;

    svg {
      fill: $whiteColor;
    }
  }

  @media (min-width: $tabletW) {
    .main-nav__nav-list {
      background-color: inherit;
    }
  }

  @media (min-width: $desktopW) {
    .portfolio__button {
      background-color: $greyColor5;

      svg {
        fill: $whiteColor;
      }
    }
  }
}
