// Разрешения экранов
$pre-tabletW: 767px; // Для правильного отображения меню на планшете
$tabletW: 768px;
$desktopW: 1200px;
$over-desktopW: 1360px;

// Цвета
$greyColor1: #f6f6f6; // Фон светлой темы
$greyColor2: #828282;
$greyColor3: #464c5e;
$greyColor4: #38444c; // Фон темной темы
$greyColor5: #323232; // Цвет для кнопок
$whiteColor: #ffffff;
$blackColor: #000000;
$borderColor: #cbdcea;
$preloaderColor: #333333;

// Отступы для блоков
$mobileInt: 25px;
$tabletInt: 40px;
$desktopInt: 60px;
