// Брейкпоинты

$tablet: 768px;
$desktop: 1200px;
$over-desktop: 1360px;

// Цвета

$greyColor1: #f6f6f6; // Фон светлой темы
$greyColor2: #828282;
$greyColor3: #464c5e;
$greyColor4: #38444c; // Фон темной темы
$greyColor5: #323232; // Цвет для кнопок
$whiteColor: #ffffff;
$blackColor: #000000;
$lightBlack: #22272e;
// $borderColor: #cbdcea;
$preloaderColor: #333333;

// Отступы для блоков

$mobileInt: 40px;
$tabletInt: 60px;
$desktopInt: 90px;
