.about-me {
  padding: $mobileInt 0;
  background-color: $greyColor1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.about-me__block {
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    margin: 0;
  }

  p {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: $tabletWidth) {
  .about-me {
    padding: $tabletInt 0;
  }

  .about-me__block {
    h2 {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        right: 30%;
        width: 24px;
        height: 24px;
        background: url("../img/icons/about-me.svg") no-repeat;
      }
    }
  }
}

@media (min-width: $desktopWidth) {
  .about-me {
    padding: $desktopInt 0;
  }

  .about-me__block {
    h2 {
      &::before {
        right: 35%;
      }
    }

    p {
      margin-top: 30px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .about-me {
    background: $gradient;
  }
}
