.about-me {
  padding: $mobileInt 0;
  background-color: $greyColor1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.about-me__title {
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  display: table;
  width: 200px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid $borderColor;
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid $borderColor;
    border-radius: 10px;
  }
}

.about-me__details {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.about-me__shorter-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__shorter-info {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -5px;
  width: 310px;
  background-color: $whiteColor;
  padding: 50px 15px 15px 15px;
  border-radius: 25px;
  transform: translateX(-350%);
  border: 1px solid $blackColor;
  z-index: 4;
  transition: 1s;

  &--active {
    transform: translateX(0);
    transition: 1s;
  }
}

.about-me__more-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about-me__more-info {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -5px;
  width: 310px;
  height: 220px;
  background-color: $whiteColor;
  padding: 50px 15px 15px 15px;
  border-radius: 25px;
  transform: translateX(-350%);
  border: 1px solid $blackColor;
  overflow-y: auto;
  z-index: 4;
  transition: 1s;

  &--active {
    transform: translateX(0);
    transition: 1s;
  }
}

.about-me__button {
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin-top: 10px;
  padding: 0;
  border: none;
  box-shadow: 1px 1px 1px $greyColor2;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 3px 3px 3px $greyColor2;
    transition: 0.2s;

    .about-me__icon {
      fill: $blackColor;
      transition: 0.4s;
    }
  }

  .about-me__icon {
    fill: $greyColor2;
    transition: 0.4s;
  }
}

.about-me__button-close {
  position: absolute;
  top: 20px;
  right: 15px;
  align-self: flex-end;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../img/close-info.svg");
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.6s;

  &:hover,
  &:focus {
    opacity: 0.4;
    transition: 0.6s;
  }
}

@media (min-width: $tabletW) {
  .about-me {
    padding: $tabletInt 0;
  }

  .about-me__details {
    flex-direction: row;
    justify-content: space-around;
    width: 560px;
    padding-top: 30px;
  }

  .about-me__shorter-info {
    top: 36px;
    width: 500px;

    &--active {
      transform: translateX(25%);
    }
  }

  .about-me__short {
    font-size: 16px;
  }

  .about-me__more-block {
    margin-top: 0;
  }

  .about-me__more-info {
    width: 500px;
    height: 150px;

    &--active {
      transform: translateX(-25%);
    }
  }

  .about-me__more {
    font-size: 16px;
  }

  .about-me__button {
    width: 140px;
    height: 140px;
  }
}

@media (min-width: $desktopW) {
  .about-me {
    padding: $desktopInt 0;
  }

  .about-me__title {
    border: 2px solid $borderColor;

    &::after {
      border: 2px solid $borderColor;
    }
  }

  .about-me__details {
    width: 960px;
  }

  .about-me__shorter-info {
    width: 700px;
    padding: 45px;

    &--active {
      transform: translateX(30%);
    }
  }

  .about-me__short {
    font-size: 19px;
  }

  .about-me__more-info {
    width: 700px;
    height: 180px;
    padding: 45px;

    &--active {
      transform: translateX(-30%);
    }
  }

  .about-me__more {
    font-size: 19px;
  }

  .about-me__button {
    width: 200px;
    height: 200px;
  }
}

@media (prefers-color-scheme: dark) {
  .about-me {
    background-color: $greyColor3;
  }

  .about-me__shorter-info {
    background-color: $blackColor;
  }

  .about-me__more-info {
    background-color: $blackColor;
  }

  .about-me__button {
    &:hover,
    &:focus {
      .about-me__icon {
        fill: $whiteColor;
      }
    }
  }

  .about-me__button-close {
    background-image: url("../img/close-info-white.svg");
  }
}
