.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $greyColor1;
  z-index: 5;

  .main-nav__nav-span {
    &:nth-of-type(1) {
      animation: ease 0.5s topClose forwards;
    }

    &:nth-of-type(2) {
      animation: ease 0.5s mdlClose forwards;
    }

    &:nth-of-type(3) {
      animation: ease 0.5s btmClose forwards;
    }
  }

  &--open {
    .main-nav__nav-span {
      &:nth-of-type(1) {
        animation: ease 0.5s topOpen forwards;
      }

      &:nth-of-type(2) {
        animation: ease 0.5s mdlOpen forwards;
      }

      &:nth-of-type(3) {
        animation: ease 0.5s btmOpen forwards;
      }
    }
  }
}

.main-nav__button {
  position: absolute;
  top: 20px;
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: $whiteColor;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;

  &--theme {
    left: 20px;
    background-image: url("../img/dark-theme.svg");
    background-repeat: no-repeat;
    background-size: 38px 38px;
    background-position: center;
  }

  &--nav {
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 7px;
  }
}

.main-nav__nav-span {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: $blackColor;
  box-shadow: 0 2px 10px #00000030;
  border-radius: 20px;
}

.main-nav__nav-list {
  position: relative;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
  background-color: $greyColor1;
  margin: 0;
  padding: 130px 0 0 0;

  a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $greyColor2;
    transition: 0.7s;

    &:hover,
    &:focus {
      color: $whiteColor;
      background-color: $blackColor;
      transition: 0.7s;
    }
  }
}

@media (max-width: $pre-tabletW) {
  .main-nav {
    height: 0;

    .main-nav__nav-list {
      height: 90vh;
      transform: translateX(100%);
      transition: 0.5s;
    }

    &--open {
      .main-nav__nav-list {
        height: 100vh;
        transform: translateX(0);
        transition: 0.5s;
      }
    }
  }
}

@media (min-width: $tabletW) {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 2px solid $greyColor2;
  }

  .main-nav__button {
    &--theme {
      position: static;
      width: 40px;
      height: 40px;
      background-size: 32px 32px;
      padding: 0;
    }

    &--nav {
      display: none;
    }
  }

  .main-nav__nav-list {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    width: max-content;
    column-gap: 60px;
    padding: 16px 0;
    border: none;

    a {
      width: 120px;
      height: 30px;
      border: 1px solid $blackColor;
      border-radius: 30px;
      margin-top: 0;
    }
  }

  .main-nav__nav-item {
    margin-top: 0;
  }
}

@media (min-width: $desktopW) {
  .main-nav {
    padding: 0 120px;
  }

  .main-nav__button {
    &--theme {
      top: 55px;
      left: 48%;
      transition: 0.5s;

      &:hover {
        opacity: 0.7;
        transition: 0.5s;
      }
    }
  }

  .main-nav__nav-list {
    padding: 25px 0;

    a {
      font-size: 18px;
      width: 150px;
    }
  }
}
