.main-header {
  padding: 0 0 $mobileInt 0;
}

.main-header__home-block {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.main-header__me-info {
  margin-top: 20px;
}

.main-header__me-name {
  letter-spacing: 1px;
  margin-top: 0;

  & + p {
    margin: 0;
  }
}

.main-header__me-photo {
  margin-top: 20px;
}

@media (min-width: $tabletWidth) {
  .main-header {
    padding: 0 0 $tabletInt 0;
  }

  .main-header__home-block {
    margin-top: 62px;
  }
}

@media (min-width: $desktopWidth) {
  .main-header {
    padding: 0 0 $desktopInt 0;
  }

  .main-header__home-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 82px;
  }

  .main-header__me-info {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }

  .main-header__me-name {
    margin: 0;
  }

  .main-header__me-photo {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 35px;
  }
}

@media (prefers-color-scheme: dark) {
  .main-header {
    background: $blackColor;
  }
}
