.main-nav__nav-head {
  display: flex;
  justify-content: space-between;
  background-color: $whiteColor;
  padding: 10px 0;
  border-bottom: 2px solid $greyColor2;

  p {
    margin: 0 auto;
    align-self: center;
  }
}

.main-nav__nav-button {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: inherit;
  margin-right: 28px;
  padding: 0;
  border: none;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $greyColor2;
    box-shadow: 0 2px 10px #00000030;
    border-radius: 20px;
  }

  span + span {
    margin-top: 7px;
  }
}

.main-nav__nav-list {
  position: relative;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $whiteColor;
  margin: 0;
  padding: 0 0 5px 0;

  a {
    text-transform: lowercase;
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    height: 21vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $greyColor2;
    transition: 0.7s;

    &:hover,
    &:focus {
      color: $whiteColor;
      background-color: $blackColor;
      transition: 0.7s;
    }
  }
}

.main-nav--open {
  position: fixed;     //(Для меню вне потока)
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  .main-nav__nav-button {
    span {
      &:nth-of-type(1) {
        animation: ease 0.5s topOpen forwards;
      }

      &:nth-of-type(2) {
        animation: ease 0.5s mdlOpen forwards;
      }

      &:nth-of-type(3) {
        animation: ease 0.5s btmOpen forwards;
      }
    }
  }

  .main-nav__nav-head {
    border: none;
  }
}

.main-nav--close {
  position: fixed;     //(Для меню вне потока)
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  .main-nav__nav-button {
    span {
      &:nth-of-type(1) {
        animation: ease 0.5s topClose forwards;
      }

      &:nth-of-type(2) {
        animation: ease 0.5s mdlClose forwards;
      }

      &:nth-of-type(3) {
        animation: ease 0.5s btmClose forwards;
      }
    }
  }
}

.main-nav__nav-item {
  margin-top: 5px;
}

@media (max-width: 659px) {
  .main-nav--open {
    .main-nav__nav-list {
      height: 100vh;
      transition: 0.5s;
    }
  }

  .main-nav--close {
    height: 0;

    .main-nav__nav-list {
      transform: translateX(100%);
      height: 90vh;
      transition: 0.5s;
    }
  }
}

@media (min-width: $tabletWidth) {
  .main-nav {
    background-color: $whiteColor;
    padding: 0 25px;
    border-bottom: 2px solid $greyColor2;
  }

  .main-nav__nav-head {
    display: none;
  }

  .main-nav__nav-list {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
    border: none;

    a {
      width: 120px;
      height: 30px;
      border: 1px solid $blackColor;
      border-radius: 30px;
      margin-top: 0;
    }
  }

  .main-nav__nav-item {
    margin-top: 0;
  }

  .main-nav__nav-button {
    display: none;
  }
}

@media (min-width: $desktopWidth) {
  .main-nav {
    padding: 0 120px;
  }

  .main-nav__nav-list {
    padding: 25px 0;

    a {
      font-size: 18px;
      width: 150px;

      &:hover,
      &:focus {
        transform: scale(1.1);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .main-nav__nav-head {
    background-color: $blackColor;
  }

  .main-nav__nav-list {
    background-color: $blackColor;

    a {
      color: $whiteColor;

      &:hover,
      &:focus {
        color: $blackColor;
        background-color: $whiteColor;
      }
    }
  }

  @media (min-width: $tabletWidth) {
    .main-nav {
      background-color: $blackColor;
    }

    .main-nav__nav-list {
      a {
        border: 1px solid $whiteColor;
      }
    }
  }
}
