.main-header {
  padding: 0 0 $mobileInt 0;
}

.main-header__me-info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-top: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 75px;
    right: 10px;
    width: 75px;
    height: 75px;
    background: url("../img/my-photo.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    z-index: 3;
  }
}

.main-header__theme-toggle {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 26px;
  height: 26px;
  background: url("../img/dark-theme.svg") no-repeat;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 4;
}

.main-header__me-name {
  line-height: 36px;
  letter-spacing: 1px;
  margin-top: 0;
}

.main-header__me-description {
  margin: 0;
}

@media (min-width: $tabletW) {
  .main-header {
    padding: 0 0 $tabletInt 0;
  }

  .main-header__me-info {
    margin-top: 65px;

    &::before {
      top: 30px;
      right: 40%;
      width: 140px;
      height: 140px;
    }
  }

  .main-header__theme-toggle {
    top: 105px;
    right: -20px;

    &::before {
      letter-spacing: 1px;
      position: absolute;
      top: 1px;
      left: -170px;
      display: inline;
      content: "Нажми меня =>";
      width: 170px;
    }
  }
}

@media (min-width: $desktopW) {
  .main-header {
    padding: 0 0 $desktopInt 0;
  }

  .main-header__me-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 82px;
    padding-top: 35px;

    &::before {
      position: fixed;
      width: 90px;
      height: 90px;
      top: 100px;
      left: 15px;
    }
  }

  .main-header__theme-toggle {
    top: 70px;
    left: 55%;
    width: 24px;
    height: 25px;
    transition: 0.5s;

    &:hover,
    &:focus {
      border-bottom: 1px solid $borderColor;
      transition: 0.5s;
    }
  }

  .main-header__me-name {
    margin: 0 0 0 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .main-header {
    background: $blackColor;
  }

  .main-header__theme-toggle {
    background: url("../img/light-theme.svg") no-repeat;
    z-index: 4;
    transition: 0.5s;

    &::before {
      color: $whiteColor;
      transition: 0.5s;
    }
  }
}
