.main-header {
  padding: 80px 0 $mobileInt 0;
}

.main-header__intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 450px;
}

.main-header__title {
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}

.main-header__subtitle {
  margin: 0;
}

.main-header__photo {
  border-radius: 40px;
  display: block;
  border: 1px solid $blackColor;
}

.main-header__button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &--open-info {
    animation: finger 1.5s linear infinite;

    &::before {
      content: "Обо мне";
      font-size: 14px;
      color: $blackColor;
      position: absolute;
      left: -10px;
      bottom: -16px;
      width: max-content;
    }
  }
}

.main-header__info {
  text-align: center;
  position: fixed;
  top: 120px;
  left: 20px;
  right: 20px;
  display: block;
  padding: 10px;
  background-color: $greyColor1;
  border: 1px solid $blackColor;
  border-radius: 20px;
  z-index: 10;
  transform: translateX(0);
  transition: 0.7s;

  &--hidden {
    transform: translateX(-120%);
    transition: 0.7s;
  }
}

.main-header__hello {
  margin: 0;
}

@media (min-width: $tabletW) {
  .main-header {
    padding: 66px 0 $tabletInt 0;
  }

  .main-header__intro {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
    height: auto;
    padding-top: 45px;
  }

  .main-header__photo {
    grid-column: 2;
    grid-row: 1/-1;
  }

  .main-header__info {
    left: 50px;
    right: 50px;
  }
}

@media (min-width: $desktopW) {
  .main-header {
    padding: 84px 0 $desktopInt 0;
  }

  .main-header__intro {
    padding-top: 60px;
  }

  .main-header__title {
    font-size: 46px;
    line-height: 50px;
    margin: 0;
  }

  .main-header__subtitle {
    font-size: 22px;
  }

  .main-header__photo {
    width: 280px;
    height: 280px;
  }

  .main-header__button {
    &--close-info {
      transition: 0.7s;

      &:hover {
        transition: 0.7s;
        opacity: 0.6;
      }
    }
  }

  .main-header__info {
    font-size: 20px;
    line-height: 32px;
    left: 120px;
    right: 120px;
  }
}
