.portfolio {
  background-color: $greyColor1;
  padding: $mobileInt 0;
}

.portfolio__title {
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  display: table;
  width: 200px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid $borderColor;
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid $borderColor;
    border-radius: 10px;
  }
}

.portfolio__full-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__project-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
}

.portfolio__project-image {
  width: 100%;
  border-radius: 20px;
}

.portfolio__project-link {
  text-decoration: none;
  color: $greyColor2;
  display: inline-block;
  margin-top: 20px;
  transition: 0.7s;

  &:hover,
  &:focus {
    transition: 0.7s;
    color: $blackColor;
  }
}

.portfolio__button-block {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-top: 25px;
}

.portfolio__button {
  background-color: $whiteColor;
  width: 45px;
  height: 45px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.7s;

  &:first-of-type {
    &::before {
      content: "<";
      color: $blackColor;
    }
  }

  &:last-of-type {
    &::before {
      content: ">";
      color: $blackColor;
    }
  }

  &:hover,
  &:focus {
    background-color: $blackColor;
    transition: 0.7s;

    &::before {
      color: $whiteColor;
    }
  }

  &:disabled {
    background-color: $greyColor1;
    cursor: auto;

    &::before {
      color: $greyColor1;
    }
  }
}

@media (min-width: $tabletW) {
  .portfolio {
    padding: $tabletInt 0;
  }

  .portfolio__full-preview {
    position: relative;
  }

  .portfolio__project-block {
    width: 520px;
  }

  .portfolio__project-image {
    height: 280px;
  }

  .portfolio__project-link {
    color: $blackColor;
    background-color: $whiteColor;
    padding: 0 15px;
    border: 1px solid $blackColor;
    border-radius: 30px;

    &:hover,
    &:focus {
      color: $whiteColor;
      background-color: $blackColor;
    }
  }

  .portfolio__button-block {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    width: auto;
    margin-top: 0;
  }

  .portfolio__button {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: $desktopW) {
  .portfolio {
    padding: $desktopInt 0;
  }

  .portfolio__title {
    border: 2px solid $borderColor;

    &::after {
      border: 2px solid $borderColor;
    }
  }

  .portfolio__project-block {
    width: 700px;
  }

  .portfolio__project-image {
    height: 370px;
  }

  .portfolio__button-block {
    top: 150px;
  }

  .portfolio__button {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: $over-desktopW) {
  .portfolio__project-block {
    width: 760px;
  }
  .portfolio__project-image {
    height: 400px;
  }

  .portfolio__button-block {
    top: 170px;
  }
}

@media (prefers-color-scheme: dark) {
  .portfolio {
    background-color: $greyColor3;
  }

  .portfolio__project-link {
    &:hover,
    &:focus {
      color: $whiteColor;
    }
  }

  .portfolio__button {
    &:disabled {
      background-color: $greyColor3;

      &::before {
        color: $greyColor3;
      }
    }
  }

  @media (min-width: $tabletW) {
    .portfolio__project-link {
      color: $whiteColor;
      background-color: $blackColor;
      border: 1px solid $whiteColor;

      &:hover,
      &:focus {
        color: $blackColor;
        background-color: $whiteColor;
      }
    }
  }
}
