.portfolio {
  background-color: $greyColor1;
  padding: $mobileInt 0;
}

.portfolio__title {
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  display: table;
  width: 200px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid $borderColor;
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid $borderColor;
    border-radius: 10px;
  }
}

.portfolio__full-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__project-image {
  border-radius: 20px;
}

.portfolio__project-link {
  text-decoration: none;
  color: $greyColor2;
  display: inline-block;
  margin-top: 20px;
  transition: 0.7s;

  &:hover,
  &:focus {
    transition: 0.7s;
    color: $blackColor;
  }
}

.portfolio__all-previews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
  margin-top: 20px;
}

.portfolio__button-preview {
  position: relative;
  background-color: $whiteColor;
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  border: 1px solid $greyColor2;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.8s;

  &:hover,
  &:focus {
    transform: scale(0.9);
    transition: 0.8s;
    background-color: $blackColor;

    &::before {
      color: $whiteColor;
    }
  }

  &::before {
    position: absolute;
    top: 32%;
    left: 40%;
  }

  &--nevelvend {
    &::before {
      content: "1";
    }
  }

  &--product-fit {
    &::before {
      content: "2";
    }
  }

  &--pink {
    &::before {
      content: "3";
    }
  }

  &--grand-theatre {
    &::before {
      content: "4";
    }
  }

  &--nerds {
    &::before {
      content: "5";
    }
  }
}

@media (min-width: $tabletW) {
  .portfolio {
    padding: $tabletInt 0;
  }

  .portfolio__project-image {
    width: 560px;
    height: 300px;
  }

  .portfolio__project-link {
    color: $blackColor;
    background-color: $whiteColor;
    padding: 0 15px;
    border: 1px solid $blackColor;
    border-radius: 30px;

    &:hover,
    &:focus {
      color: $whiteColor;
      background-color: $blackColor;
    }
  }

  .portfolio__all-previews {
    margin-top: 40px;
  }

  .portfolio__button-preview {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 102px;
    height: 75px;
    border: none;
    border-radius: 10px;

    &::before {
      display: none;
    }

    &--pink {
      background-image: url("../img/projects/Pink.png");
    }

    &--product-fit {
      background-image: url("../img/projects/ProductFit.png");
    }

    &--nevelvend {
      background-image: url("../img/projects/Nevelvend.png");
    }

    &--grand-theatre {
      background-image: url("../img/projects/Grand-Theatre.png");
    }

    &--nerds {
      background-image: url("../img/projects/Nerds.png");
    }
  }
}

@media (min-width: $pre-desktopW) {
  .portfolio__button-preview {
    width: 150px;
    height: 100px;
  }
}

@media (min-width: $desktopW) {
  .portfolio {
    padding: $desktopInt 0;
  }

  .portfolio__title {
    border: 2px solid $borderColor;

    &::after {
      border: 2px solid $borderColor;
    }
  }

  .portfolio__project-image {
    width: 670px;
    height: 350px;
  }

  .portfolio__button-preview {
    width: 175px;
    height: 115px;
  }
}

@media (min-width: $over-desktopW) {
  .portfolio__project-image {
    width: 720px;
    height: 365px;
  }

  .portfolio__button-preview {
    width: 205px;
    height: 130px;
  }
}

@media (prefers-color-scheme: dark) {
  .portfolio {
    background-color: $greyColor3;
  }

  .portfolio__project-link {
    &:hover,
    &:focus {
      color: $whiteColor;
    }
  }

  .portfolio__button-preview {
    background-color: $blackColor;

    &::before {
      color: $whiteColor;
    }

    &:hover,
    &:focus {
      background-color: $whiteColor;

      &::before {
        color: $blackColor;
      }
    }
  }

  @media (min-width: $tabletW) {
    .portfolio__project-link {
      color: $whiteColor;
      background-color: $blackColor;
      border: 1px solid $whiteColor;

      &:hover,
      &:focus {
        color: $blackColor;
        background-color: $whiteColor;
      }
    }
  }
}
