.skills {
  display: flex;
  flex-direction: column;
  padding: $mobileInt 0;
}

.skills__title {
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  display: table;
  width: 200px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid $borderColor;
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid $borderColor;
    border-radius: 10px;
  }
}

.skills__skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin: 0;
  padding: 0;
}

.skills__skills-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.skills__skill-icon {
  fill: $greyColor2;
  animation: sphere 10s linear infinite;
}

@media (min-width: $tabletW) {
  .skills {
    padding: $tabletInt 0;
  }

  .skills__skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
  }

  .skills__skill-icon {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $desktopW) {
  .skills {
    padding: $desktopInt 0;
  }

  .skills__title {
    border: 2px solid $borderColor;

    &::after {
      border: 2px solid $borderColor;
    }
  }

  .skills__description {
    margin-top: 30px;
  }

  .skills__skills-list {
    margin-top: 80px;
    column-gap: 40px;
  }

  .skills__skills-item {
    p {
      margin-top: 30px;
    }
  }

  .skills__skill-icon {
    width: 65px;
    height: 65px;

    &:hover,
    &:focus {
      fill: $blackColor;
      animation: scale 1s ease-in-out;
    }
  }
}


@media (min-width: $over-desktopW) {
  .skills__skill-icon {
    width: 85px;
    height: 85px;
  }
}
