.skills {
  display: flex;
  flex-direction: column;
  padding: $mobileInt 0;
}

.skills__skills-info {
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    margin: 0;
  }

  p {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.skills__skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin: 25px 0 0 0;
  padding: 0;
}

.skills__skills-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 15px;
    margin-bottom: 0;
    color: $greyColor2;
  }

  svg {
    animation: sphere 10s linear infinite;
  }
}

@media (min-width: $tabletWidth) {
  .skills {
    padding: $tabletInt 0;
  }

  .skills__skills-info {
    h2 {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        right: 30%;
        width: 24px;
        height: 24px;
        background: url("../img/icons/skills.svg") no-repeat;
      }
    }
  }

  .skills__skills-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .skills__skills-item {
    svg {
      width: 85px;
      height: 85px;
    }
  }
}

@media (min-width: $desktopWidth) {
  .skills {
    padding: $desktopInt 0;
  }

  .skills__skills-info {
    h2 {
      &::before {
        right: 35%;
      }
    }

    p {
      margin-top: 30px;
    }
  }

  .skills__skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 0 0 0;
    column-gap: 40px;
  }

  .skills__skills-item {
    p {
      margin-top: 30px;
    }

    svg {
      width: 96px;
      height: 96px;

      &:hover,
      &:focus {
        fill: $blackColor;
        animation: scale 1s ease-in-out;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .skills {
    background-color: $blackColor;
  }

  @media (min-width: $desktopWidth) {
    .skills__skills-item {
      svg {
        &:hover,
        &:focus {
          fill: $whiteColor;
        }
      }
    }
  }
}
