.swiper {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 180px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slider {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.swiper-pagination {
  background-color: $whiteColor;
  border-radius: 50px;
}

@media (min-width: $tabletW) {
  .swiper {
    width: 668px;
    height: 340px;
  }
}

@media (min-width: $pre-desktopW) {
  .swiper {
    width: 892px;
    height: 460px;
  }
}

@media (min-width: $desktopW) {
  .swiper {
    width: 960px;
    height: 490px;
  }

  .swiper-button-prev {
    left: 3%;
    display: flex;

    svg {
      transform: rotate(270deg);
    }
  }

  .swiper-button-next {
    right: 3%;
    display: flex;

    svg {
      transform: rotate(90deg);
    }
  }
}

@media (min-width: $over-desktopW) {
  .swiper {
    width: 1126px;
    height: 560px;
  }
}
