.main-footer__contact-list {
  position: fixed;
  top: 145px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 20px;
  height: 40px;
  padding: 0;
  list-style: none;
  z-index: 5;
}

.main-footer__contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: $whiteColor;
  border-radius: 50%;
  transition: 0.5s;

  a {
    display: flex;
  }
}

.main-footer__contact-icon {
  fill: $blackColor;
}

.main-footer__button-up {
  letter-spacing: 1px;
  text-transform: uppercase;
  position: fixed;
  right: 20px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: $whiteColor;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  animation: ease 0.5s btnUp-noSee forwards;

  &--active {
    animation: ease 0.5s btnUp-see forwards;
  }
}

@media (min-width: $tabletW) {
  .main-footer__contact-list {
    left: 50px;
    bottom: 95px;
  }

  .main-footer__button-up {
    right: 50px;
    bottom: 60px;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: $desktopW) {
  .main-footer__contact-list {
    left: 120px;
    bottom: 120px;
  }

  .main-footer__button-up {
    right: 120px;
    bottom: 80px;

    svg {
      width: 50px;
      height: 50px;
    }
  }
}

@media (min-width: $over-desktopW) {
  .main-footer__button-up {
    width: 60px;
    height: 60px;

    svg {
      width: 60px;
      height: 60px;
    }
  }
}
