.portfolio {
  padding: $mobileInt 0;
}

.portfolio__title {
  letter-spacing: 3px;
  width: 200px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 0 5px 20px;
  border-bottom: 1px solid $blackColor;
}

.portfolio__all-projects {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  row-gap: 100px;
}

.portfolio__projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-of-type(2) {
    .portfolio__subtitle {
      align-self: start;
    }
  }
}

.portfolio__subtitle {
  font-weight: 500;
  letter-spacing: 2px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  align-self: end;
  width: max-content;
  padding: 5px 20px;
  border-bottom: 1px solid $blackColor;
}

.portfolio__project-img {
  border-radius: 20px;
}

.portfolio__project-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  border: 1px solid $blackColor;
  border-radius: 20px;
  padding: 5px 0;
}

.portfolio__project-link {
  text-align: center;
  color: $greyColor2;
  transition: 0.7s;

  &:hover {
    opacity: 0.5;
  }
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  width: 275px;
  margin-top: 40px;
  // padding: 0 15px;
  list-style: none;
}

.portfolio__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  padding: 6px;
  border: 1px solid $blackColor;
  border-radius: 20px;
}

.portfolio__img {
  border-radius: 20px;
}

.portfolio__link {
  color: $greyColor2;
  transition: 0.7s;

  &:hover {
    opacity: 0.5;
  }
}

@media (min-width: $smart) {
  .portfolio__project-img {
    width: 320px;
  }

  .portfolio__project-info {
    row-gap: 10px;
  }

  .portfolio__item {
    width: 308px;
    padding: 9px;
  }

  .portfolio__img {
    width: 315px;
    height: 170px;
  }
}

@media (min-width: $tablet) {
  .portfolio {
    padding: $tabletInt 0;
  }

  .portfolio__title {
    column-gap: 15px;
    width: 210px;
    padding: 0 0 7px 30px;

    svg {
      width: 35px;
      height: 35px;
    }
  }

  .portfolio__subtitle {
    column-gap: 15px;
    padding: 7px 30px;

    svg {
      width: 35px;
      height: 35px;
    }
  }

  .portfolio__project-img {
    width: 100%;
    height: 330px;
  }

  .portfolio__project-info {
    font-size: 20px;
    padding: 15px 0;
    width: 638px;
  }

  .portfolio__item {
    width: 520px;
    padding: 20px;
  }

  .portfolio__img {
    width: 520px;
    height: 285px;
  }
}

@media (min-width: $desktop) {
  .portfolio {
    padding: $desktopInt 0;
  }

  .portfolio__title {
    font-size: 32px;
    column-gap: 20px;
    width: 220px;
    padding: 0 40px 10px 40px;

    svg {
      width: 45px;
      height: 45px;
    }
  }

  .portfolio__subtitle {
    column-gap: 20px;
    padding: 10px 40px;

    svg {
      width: 45px;
      height: 45px;
    }
  }

  .portfolio__project-img {
    height: 430px;
    transition: 0.7s;
    border-radius: 25px;
  }

  .portfolio__project-info {
    position: absolute;
    bottom: 20%;
    width: 250px;
    padding: 15px 20px;
    background-color: $greyColor1;
    border-radius: 25px;
    opacity: 0;
    transition: 0.7s;
  }

  .portfolio__project-link {
    font-size: 23px;
  }

  .portfolio__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    width: 1040px;
    padding: 0;
  }

  .portfolio__item {
    width: 460px;
  }

  .portfolio__img {
    width: 455px;
    height: 260px;
  }
}

@media (min-width: $over-desktop) {
  .portfolio__project-img {
    height: 500px;
  }
}
