.portfolio {
  padding: $mobileInt 0;
}

.portfolio__title {
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  display: table;
  width: 200px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid $borderColor;
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid $borderColor;
    border-radius: 10px;
  }
}

.portfolio__subtitle {
  margin: 20px auto;
  width: max-content;
}

.portfolio__project-image {
  border-radius: 30px;
  transition: 0.7s;
}

.portfolio__project-info {
  position: absolute;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $whiteColor;
  padding: 8px 20px;
  border: 1px solid $blackColor;
  border-radius: 30px;
  transition: 0.7s;
  opacity: 0;
}

.portfolio__project-type {
  font-size: 13px;
  color: $greyColor2;
  margin: 0;
}

.portfolio__project-link {
  text-align: center;
  text-decoration: none;
  color: $blackColor;
  transition: 0.7s;

  &:hover,
  &:focus {
    opacity: 0.5;
    transition: 0.7s;
  }
}

.portfolio__other-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.portfolio__other-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid $blackColor;
  border-radius: 20px;
}

.portfolio__other-link {
  color: $greyColor2;
}

@media (min-width: $tabletW) {
  .portfolio {
    padding: $tabletInt 0;
  }

  .portfolio__project-image {
    width: 100%;
    height: 100%;
  }

  .portfolio__project-info {
    font-size: 20px;
    padding: 15px 25px;
  }

  .portfolio__project-type {
    font-size: 15px;
  }

  .portfolio__other-item {
    padding: 10px 20px;
  }
}

@media (min-width: $desktopW) {
  .portfolio {
    padding: $desktopInt 0;
  }

  .portfolio__title {
    border: 2px solid $borderColor;

    &::after {
      border: 2px solid $borderColor;
    }
  }

  .portfolio__project-info {
    padding: 15px 30px;
    z-index: 2;
  }

  .portfolio__project-link {
    font-size: 23px;
  }

  .portfolio__project-type {
    font-size: 16px;
  }
}
