.skills {
  display: flex;
  flex-direction: column;
  padding: $mobileInt 0;
}

.skills__title {
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  display: table;
  width: 200px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid $borderColor;
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid $borderColor;
    border-radius: 10px;
  }
}

.skills__skills-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills__skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.skills__details-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills__details-item {
  border-bottom: 1px solid $greyColor2;
}

@media (min-width: $tabletW) {
  .skills {
    padding: $tabletInt 0;
  }

  .skills__skills-list {
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    width: 668px;
  }

  .skills__skills-item {
    width: max-content;
  }
}

@media (min-width: $desktopW) {
  .skills {
    padding: $desktopInt 0;
  }

  .skills__title {
    border: 2px solid $borderColor;

    &::after {
      border: 2px solid $borderColor;
    }
  }

  .skills__description {
    margin-top: 30px;
  }

  .skills__skills-list {
    width: 960px;
  }

  .skills__skills-item {
    row-gap: 30px;
  }
}
