:root {
  --bgGrey: #f6f6f6;
  --textGrey: #828282;
  --whiteColor: #ffffff;
  --blackColor: #000000;
}

body {
  min-width: 320px;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  line-height: 26px;
}

@media (min-width: 660px) {
  body {
    font-size: 17px;
    line-height: 30px;
  }
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 660px) {
  .container {
    padding: 0 50px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 120px;
  }
}
.main-header {
  padding: 0 0 20px 0;
}

.main-header__nav-list {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 5px 0;
}
.main-header__nav-list a {
  width: 100%;
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  color: #828282;
  margin-top: 10px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.main-header__nav-list a:hover, .main-header__nav-list a:focus {
  color: #ffffff;
  background-color: #000000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.main-header__nav-item {
  text-align: center;
}

.main-header__home-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid #828282;
}

.main-header__me-info {
  margin-top: 20px;
}

.main-header__me-name {
  margin-top: 0;
}
.main-header__me-name + p {
  margin: 0;
}

.main-header__me-photo {
  margin-top: 20px;
}

@media (min-width: 660px) {
  .main-header {
    padding: 0 0 40px 0;
  }

  .main-header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
  }
  .main-header__nav-list a {
    width: 110px;
    border: 1px solid #000000;
    border-radius: 30px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .main-header {
    padding: 0 0 80px 0;
  }

  .main-header__nav-list {
    padding: 25px 0;
  }
  .main-header__nav-list a {
    font-size: 18px;
  }
  .main-header__nav-list a:hover, .main-header__nav-list a:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border-bottom: 1px solid #000000;
  }

  .main-header__home-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .main-header__me-info {
    grid-column: 1/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 35px;
  }

  .main-header__me-name {
    margin: 0;
  }

  .main-header__me-photo {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: 35px;
  }
}
.about-me {
  padding: 20px 0;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about-me__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.about-me__block h2 {
  margin: 0;
}
.about-me__block p {
  margin-top: 20px;
  margin-bottom: 0;
}

@media (min-width: 660px) {
  .about-me {
    padding: 40px 0;
  }
}
@media (min-width: 1200px) {
  .about-me {
    padding: 80px 0;
  }

  .about-me__block p {
    margin-top: 30px;
  }
}
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.skills__skills-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.skills__skills-info h2 {
  margin: 0;
}
.skills__skills-info p {
  margin-top: 20px;
  margin-bottom: 0;
}

.skills__skills-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin: 25px 0 0 0;
  padding: 0;
}

.skills__skills-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.skills__skills-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.skills__skills-list > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.skills__skills-list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.skills__skills-list > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.skills__skills-list > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.skills__skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills__skills-item p {
  margin-top: 15px;
  margin-bottom: 0;
  color: #828282;
}
.skills__skills-item svg {
  -webkit-animation: sphere 10s linear infinite;
          animation: sphere 10s linear infinite;
}

@media (min-width: 660px) {
  .skills {
    padding: 40px 0;
  }

  .skills__skills-list {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .skills__skills-list > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .skills__skills-list > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .skills__skills-list > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .skills__skills-list > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .skills__skills-list > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .skills__skills-list > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .skills__skills-item svg {
    width: 85px;
    height: 85px;
  }
}
@media (min-width: 1200px) {
  .skills {
    padding: 80px 0;
  }

  .skills__skills-info p {
    margin-top: 30px;
  }

  .skills__skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 35px 0 0 0;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }

  .skills__skills-item p {
    margin-top: 30px;
  }
  .skills__skills-item svg {
    width: 96px;
    height: 96px;
  }
  .skills__skills-item svg:hover {
    fill: #000000;
    -webkit-animation: scale 1s ease-in-out;
            animation: scale 1s ease-in-out;
  }
}
.portfolio {
  background-color: #f6f6f6;
  padding: 20px 0;
}
.portfolio h2 {
  text-align: center;
  margin: 0;
}

.portfolio__project-list {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 25px;
}

.portfolio__project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}
.portfolio__project-item a {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  display: inline-block;
  text-decoration: none;
  color: #828282;
  padding: 0 15px;
}
.portfolio__project-item a:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  color: #000000;
}

.portfolio__project-image {
  width: 280px;
  height: 170px;
  background-color: #000000;
}

@media (min-width: 660px) {
  .portfolio {
    padding: 40px 0;
  }

  .portfolio__project-item a {
    border: 1px solid #000000;
    border-radius: 30px;
  }
  .portfolio__project-item a:hover {
    color: #ffffff;
    background-color: #000000;
  }

  .portfolio__project-image {
    width: 620px;
    height: 360px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding: 80px 0;
  }

  .portfolio__project-list {
    margin: 45px 0 0 0;
    row-gap: 50px;
  }

  .portfolio__project-item:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: 1.3s;
    transition: 1.3s;
  }
  .portfolio__project-item:hover .portfolio__project-image {
    -webkit-transition: 1.3s;
    transition: 1.3s;
  }

  .portfolio__project-image {
    -webkit-transition: 1.3s;
    transition: 1.3s;
    width: 950px;
    height: 500px;
  }
}
.main-footer {
  padding: 20px 0 20px 0;
  display: -ms-grid;
  display: grid;
}
.main-footer .container {
  display: -ms-grid;
  display: grid;
}

.main-footer__contact-info {
  text-align: center;
}
.main-footer__contact-info h2 {
  margin: 0;
}
.main-footer__contact-info p {
  margin-top: 20px;
  margin-bottom: 0;
}

.main-footer__contact-list {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.main-footer__contact-item svg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main-footer__contact-item svg:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #000000;
}

@media (min-width: 660px) {
  .main-footer {
    padding: 40px 0 30px 0;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding: 80px 0 40px 0;
  }

  .main-footer__contact-info p {
    margin-top: 30px;
  }

  .main-footer__contact-list {
    margin: 30px 0 0 0;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@-webkit-keyframes sphere {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes sphere {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes scale {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}