.dark-theme {
  color: $whiteColor;
  transition: 1s;

  .main-header {
    background: $blackColor;
  }

  .main-header__theme-toggle {
    background: url("../img/light-theme.svg") no-repeat;
    z-index: 4;

    &::before {
      color: $whiteColor;
    }
  }

  .main-nav__nav-head {
    background-color: $blackColor;
  }

  .main-nav__nav-list {
    background-color: $blackColor;

    a {
      color: $whiteColor;

      &:hover,
      &:focus {
        color: $blackColor;
        background-color: $whiteColor;
      }
    }
  }

  .about-me {
    background-color: $greyColor3;
  }

  .about-me__shorter-info {
    background-color: $blackColor;
  }

  .about-me__more-info {
    background-color: $blackColor;
  }

  .about-me__button {
    &:hover,
    &:focus {
      .about-me__icon {
        fill: $whiteColor;
      }
    }
  }

  .about-me__button-close {
    background-image: url("../img/close-info-white.svg");
  }

  .skills {
    background-color: $blackColor;
  }

  .portfolio {
    background-color: $greyColor3;
  }

  .portfolio__project-link {
    &:hover,
    &:focus {
      color: $whiteColor;
    }
  }

  .portfolio__button {
    &:disabled {
      background-color: $greyColor3;

      svg {
        fill: $greyColor3;
      }
    }
  }

  .main-footer {
    background-color: $blackColor;
  }

  .main-footer__contact-icon {
    &:hover,
    &:focus {
      fill: $whiteColor;
    }
  }

  .main-footer__button-up {
    svg {
      fill: $greyColor2;
    }

    &:hover {
      background-color: $whiteColor;
    }
  }

  @media (min-width: $tabletW) {
    .main-nav {
      background-color: $blackColor;
    }

    .main-nav__nav-list {
      a {
        border: 1px solid $whiteColor;
      }
    }

    .portfolio__project-link {
      color: $whiteColor;
      background-color: $blackColor;
      border: 1px solid $whiteColor;

      &:hover,
      &:focus {
        color: $blackColor;
        background-color: $whiteColor;
      }
    }
  }

  @media (min-width: $desktopW) {
    .skills__skill-icon {
      &:hover,
      &:focus {
        fill: $whiteColor;
      }
    }
  }
}
