@font-face {
  font-family: "GillSansNovaInline";
  src: url("../fonts/GillSansNovaInline-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "GillSansNovaInline";
  src: url("../fonts/GillSansNovaInline-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GillSansNovaInline";
  src: url("../fonts/GillSansNovaInline-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GillSansNovaInline", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 380px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  transition: 0.5s;

  @media (min-width: $tabletW) {
    font-size: 17px;
    line-height: 28px;
  }

  @media (min-width: $desktopW) {
    font-size: 18px;
    line-height: 30px;
  }

  @media (prefers-color-scheme: dark) {
    color: $whiteColor;
  }
}
