html, body {
  min-width: 380px;
  font-family: "Source Code Pro", "Arial", monospace;
  font-size: 16px;
  line-height: 26px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 1s;

  @media (min-width: $tabletW) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (prefers-color-scheme: dark) {
    color: $whiteColor;
  }
}
