.light-theme {
  color: $blackColor;
  transition: 1s;

  .main-header {
    background: $whiteColor;
  }

  .main-header__theme-toggle {
    background: url("../img/dark-theme.svg") no-repeat;
    background-size: contain;
    z-index: 4;
  }

  .main-nav__nav-head {
    background-color: $whiteColor;
  }

  .main-nav__nav-list {
    background-color: $whiteColor;

    a {
      color: $blackColor;

      &:hover,
      &:focus {
        color: $whiteColor;
        background-color: $blackColor;
      }
    }
  }

  .about-me {
    background-color: $greyColor1;
  }

  .about-me__shorter-info {
    background-color: $whiteColor;
  }

  .about-me__more-info {
    background-color: $whiteColor;
  }

  .about-me__icon {
    fill: $greyColor2;

    &:hover,
    &:focus {
      fill: $blackColor;
    }
  }

  .about-me__cross-icon {
    fill: $greyColor2;
    transition: 0.4s;

    &:hover,
    &:focus {
      fill: $blackColor;
      transition: 0.4s;
    }
  }

  .skills {
    background-color: $whiteColor;
  }

  .portfolio {
    background-color: $greyColor1;
  }

  .portfolio__project-info {
    background-color: $blackColor;
    border: 1px solid $whiteColor;
  }

  .portfolio__project-link {
    color: $whiteColor;
  }

  .portfolio__button {
    background-color: $blackColor;

    svg {
      fill: $whiteColor;
    }
  }

  .main-footer {
    background-color: $whiteColor;
  }

  .main-footer__contact-icon {
    fill: $greyColor2;
    transition: 0.4s;

    &:hover {
      fill: $blackColor;
      transition: 0.4s;
    }
  }

  @media (min-width: $tabletW) {
    .main-nav {
      background-color: $whiteColor;
    }

    .main-nav__nav-list {
      a {
        border: 1px solid $blackColor;
      }
    }
  }

  @media (min-width: $desktopW) {
    .skills__skill-icon {
      &:hover,
      &:focus {
        fill: $blackColor;
      }
    }

    .portfolio__button {
      border: 1px solid $whiteColor;
    }
  }
}
