//displays
$pre-tabletW: 659px;
$tabletW: 660px;
$pre-desktopW: 880px;
$desktopW: 1200px;
$over-desktopW: 1360px;

//colors
$greyColor1: #f6f6f6;
$greyColor2: #828282;
$greyColor3: #464c5e;
$gradient: linear-gradient(130deg, #100032, #40007f, #100032);
$whiteColor: #ffffff;
$blackColor: #000000;
$borderColor: #cbdcea;

//indent blocks
$mobileInt: 20px;
$tabletInt: 40px;
$desktopInt: 60px;
