//displays
$tabletWidth: 660px;
$desktopWidth: 1200px;

//colors
$greyColor1: #f6f6f6;  //bgGrey
$greyColor2: #828282;  //textGrey
$greyColor3: #464c5e;
$gradient: linear-gradient(130deg, #100032, #40007f, #100032);
$whiteColor: #ffffff;
$blackColor: #000000;
$borderColor: #cbdcea;

//indent blocks
$mobileInt: 20px;
$tabletInt: 40px;
$desktopInt: 60px;
