.container {
  padding: 40px 20px;
  margin: 0 auto;

  @media (min-width: $smart) {
    padding: 50px 35px;
  }

  @media (min-width: $tablet) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop) {
    padding: 90px 80px;
  }

  @media (min-width: $laptop) {
    padding: 100px 120px;
  }
}
