.container {
  padding: 40px 15px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 60px 30px;
  }

  @media (min-width: $desktop) {
    padding: 90px 70px;
  }

  @media (min-width: $laptop) {
    padding: 100px 200px;
  }
}
