// Брейкпоинты

$smart: 480px;
$tablet: 768px;
$desktop: 1080px;
$laptop: 1360px;

// Цвета

$black: black;
$black2: #2d2e32;
$white: white;
$whitesmoke: whitesmoke;
$green: #41b883;
$grey: #f9f9f9;
$grey2: #a5a5a5;
